<html xmlns="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css">
    <script src="/javascripts/bootstrap-select.min.js"></script>
    <script src="/javascripts/jquery-util.js"></script>
    <div class="container">
        <p></p>
        <form class="form-inline">
            <div class="form-group">
                <select class="selectpicker" data-style="btn-warning">
                    <option value=''>全部类型</option>
                    <option value='agent'>代理公司</option>
                    <option value='builder'>设计搭建公司</option>
                    <option value='transport'>物流公司</option>
                </select>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="button" value="添加" data-toggle="modal" data-target="#new-modal">
            </div>
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>分类</td>
                    <td>Logo</td>
                    <td>名称</td>
                    <td>URL</td>
                    <td>标签</td>
                    <td>联系人</td>
                    <td>电话</td>
                    <td>传真</td>
                    <td>Email</td>
                    <td>QQ</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody id="list"></tbody>
        </table>
    </div>
    <div class="ad_edit"></div>
</html>
<script id="template" type="text/x-handlebars-template">
    {{#each agent}}
        <tr id="{{_id}}">
            <td id="type{{_id}}" data-val="agent">代理公司</td>
            {{>detail}}
        </tr>
    {{/each}}
    {{#each builder}}
        <tr id="{{_id}}">
            <td id="type{{_id}}" data-val="builder">设计搭建公司</td>
            {{>detail}}
        </tr>
    {{/each}}
    {{#each transport}}
        <tr id="{{_id}}">
            <td id="type{{_id}}" data-val="transport">物流公司</td>
            {{>detail}}
        </tr>
    {{/each}}
</script>
<script id="list-template" type="text/x-handlebars-template">

        <td id="pic{{_id}}">
            {{#if pic}}
            <div class="col-xs-6 col-md-6">
                <a href="#" class="thumbnail">
                    <img src="/user_data/{{pic}}">
                </a>
            </div>
            {{/if}}
        </td>
        <td id="name{{_id}}">{{name}}</td>
        <td id="url{{_id}}">{{url}}</td>
        <td id="tags{{_id}}">{{tags}}</td>
        <td id="contact{{_id}}">{{contact}}</td>
        <td id="tel{{_id}}">{{tel}}</td>
        <td id="fax{{_id}}">{{fax}}</td>
        <td id="email{{_id}}">{{email}}</td>
        <td id="qq{{_id}}">{{qq}}</td>
        <td>
            <a onclick="edit('{{_id}}')"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#edit-modal"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a onclick="del('{{_id}}')"><span class="glyphicon glyphicon-remove"/></a>
        </td>
</script>
<script>
    var fairId;
    $(document).ready(function(){
        fairId = $.urlGet()['fairId'];
        $(".ad_edit").load("/adedit");
        Handlebars.registerPartial("detail", $("#list-template").html());
        loadPage()
    });
    function loadPage(search){
        var param={
            id:fairId
        }
        if(search){
            param.search=search;
        }
        $.ajax({
            type : "GET",
            url : "/fair/findOne",
            data:param,
            success: function(data) {
                var obj = data;
                if(obj.status=="200"){
                    $('#list').handlebars($('#template'), obj.data.advertisement);
                }else{
                    alert('加载失败。')
                }
            }
        });
    }
    function del(adId){
        if(confirm("是否彻底删除广告（请慎重选择，可从操作中查看关联展会列表）?")){
            $.get("/ad/remove",{_id:adId,fairId:fairId,type:$('#type'+adId).attr('data-val')}, function(result){
                $('#'+adId).remove()
            });
        }else{
            $.get("/fair/removeAd",{adId:adId,fairId:fairId,type:$('#type'+adId).attr('data-val')}, function(result){
                $('#'+adId).remove()
            });
        }
    }
    $('.selectpicker').on('change',function(){
        loadPage()
    })
</script>
