<script src="/javascripts/page.js"></script>
<div class="modal fade" id="new-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    广告添加
                </h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#new" data-toggle="tab">新建</a></li>
                    <li role="presentation"><a href="#datalist" data-toggle="tab">列表</a></li>
                </ul>
                <br/>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span style="color: red;">*&nbsp;&nbsp;&nbsp;&nbsp;</span>类型</label>
                        <div class="col-sm-10">
                            <select id="new-type">
                                <option value='agent'>代理公司</option>
                                <option value='builder'>设计搭建公司</option>
                                <option value='transport'>物流公司</option>
                            </select>
                        </div>
                    </div>
                 </form>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="new">
                        <form id="add-form" class="form-horizontal" role="form" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Logo</label>
                                <div class="col-sm-10">
                                    <input type="file"  name="ad-new-logofile" id="ad-new-logofile"/>
                                </div>
                                <div id="ad-new-previewdiv" class="col-xs-6 col-md-3 hide">
                                    <a href="#" class="thumbnail">
                                        <img id="ad-new-preview" src=""  alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control hide" id="new-_id">
                                    <input type="text" class="form-control" id="new-name" placeholder="请输入广告名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">URL</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new-url" placeholder="请输入URL">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标签</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new-tags" placeholder="请输入广告标签">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系人</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new-contact" placeholder="请输入广告内容">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">电话</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new-tel" placeholder="请输入联系电话">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">传真</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new-fax" placeholder="请输入传真">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new-email" placeholder="请输入Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">QQ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new-qq" placeholder="请输入QQ">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="datalist">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..." id="search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="search-btn">Go!</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td>Logo</td>
                                <td>名称</td>
                                <td>URL</td>
                                <td>标签</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody id="datalistbody"></tbody>
                        </table>
                        <div class="text-right">
                            <nav>
                                <ul class="pagination">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" id="ad-save-btn">
                    保存
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 id="adModalLabel" class="modal-title">
                    广告更新
                </h4>
            </div>
            <div class="modal-body">
                <form id="edit-form" class="form-horizontal" role="form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Logo</label>
                        <div class="col-sm-10">
                            <input type="file"  name="ad-edit-logofile" id="ad-edit-logofile"/>
                        </div>
                        <div id="ad-edit-previewdiv" class="col-xs-6 col-md-3 hide">
                            <a href="#" class="thumbnail">
                                <img id="ad-edit-preview" src=""  alt="">
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <select id="edit-type">
                                <option value='agent'>代理公司</option>
                                <option value='builder'>设计搭建公司</option>
                                <option value='transport'>物流公司</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control hide" id="edit-_id">
                            <input type="text" class="form-control" id="edit-name" placeholder="请输入广告名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">URL</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-url" placeholder="请输入URL">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标签</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-tags" placeholder="请输入广告标签">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系人</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-contact" placeholder="请输入广告内容">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-tel" placeholder="请输入联系电话">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">传真</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-fax" placeholder="请输入传真">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-email" placeholder="请输入Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">QQ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-qq" placeholder="请输入QQ">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" id="ad-edit-btn">
                    保存
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->
<div class="modal fade" style="width: auto" id="ad_dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    选择广告类型
                </h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" id="upload-btn">
                    上传
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->
<script id="ad-list-template" type="text/x-handlebars-template">
    {{#each this.list}}
    <tr>
        <td>
            {{#if pic}}
            <div style="width:100px;heigh:100px">
                <a href="#" class="thumbnail">
                    <img src="/user_data/{{pic}}">
                </a>
            </div>
            {{/if}}
        </td>
        <td>{{name}}</td>
        <td>{{url}}</td>
        <td>{{tags}}</td>
        <td>
            <a onclick="updateFairAd('{{_id}}')"><span class="glyphicon glyphicon-plus"/></a>
        </td>
    </tr>
    {{/each}}
</script>
<script>
    function edit(id){
        $('#edit-_id').val(id);
        $('#edit-name').val($('#name'+id).html());
        $('#edit-contact').val($('#contact'+id).html());
        $('#edit-tags').val($('#tags'+id).html());
        $('#edit-url').val($('#url'+id).html());
        $('#edit-tel').val($('#tel'+id).html());
        $('#edit-fax').val($('#fax'+id).html());
        $('#edit-email').val($('#email'+id).html());
        $('#edit-qq').val($('#qq'+id).html());
    }
    $('#ad-save-btn').on('click',function(){
        update('new-')
    })
    $('#ad-edit-btn').on('click',function(){
        update('edit-')
    })
    function update(prefix){
        var type=$('#'+prefix+'type').val();
        var id=$('#'+prefix+'_id').val();
        var url='/ad/save';
        var param={
            fairId:fairId,
            type:type,
            name:$('#'+prefix+'name').val(),
            contact:$('#'+prefix+'contact').val(),
            tags:$('#'+prefix+'tags').val(),
            url:$('#'+prefix+'url').val(),
            tel:$('#'+prefix+'tel').val(),
            fax:$('#'+prefix+'fax').val(),
            email:$('#'+prefix+'email').val(),
            qq:$('#'+prefix+'qq').val()
        };
        if(id){
            url='/ad/update';
            param._id=id;
        }
        var formdata = new FormData($("#"+prefix+"form")[0]);
        for(var k in param){
            formdata.append(k, param[k]);
        }
        $.ajax({
            type:'POST',
            url: url,
            data:formdata,
            processData: false,
            contentType: false,
            success: function(data){
                alert("保存成功");
                $('#'+prefix+'modal').modal("hide")
                loadPage(1)
            }
        })
    }
    $('.nav-tabs a').click(function (e) {
        $(this).tab('show')
        if($(this).attr('href')=='#datalist'){
            loadAds()
        }
    })
    function loadAds(search){
        var param={};
        if(search){
            param.search=search;
        }
        $.ajax({
            type : "GET",
            url : "/ad/find",
            data:param,
            success: function(data) {
                var obj = data;
                if(obj.status=="200"){
                    $('#datalistbody').handlebars($('#ad-list-template'), obj.data);
                    page(obj.data.count,'loadAds')
                }else{
                    alert('加载失败。')
                }
            }
        });
    }
    $('#ad-new-logofile').on('change', function() {
        preview('ad-new-')
    });
    $('#ad-edit-logofile').on('change', function() {
        preview('ad-edit-')
    });
    $('#ad_new').on('hide', function() {
        clear('')
    });
    $('#ad_edit').on('hide', function() {
        $('#edit-_id').val('');
        clear('')
    });
    function clear(prefix){
        $('#'+prefix+'name').val('');
        $('#'+prefix+'contact').val('');
        $('#'+prefix+'tags').val('');
        $('#'+prefix+'url').val('');
        $('#'+prefix+'tel').val('');
        $('#'+prefix+'fax').val('');
        $('#'+prefix+'email').val('');
        $('#'+prefix+'qq').val('');
    }
    function preview(prefix){
        var f = document.getElementById(prefix+"logofile").files[0];
        var src = window.URL.createObjectURL(f);
        $('#'+prefix+'previewdiv').addClass('show')
        $('#'+prefix+'preview').attr('src',src);
    }
    function updateFairAd(adId){
        $.get("/fair/addAd",{adId:adId,fairId:fairId,type:$('#new-type').val()}, function(result){
            loadPage()
        });
    }
    $('#search-btn').on('click',function(){
        loadAds($('#search').val())
    })
</script>