<html xmlns="http://www.w3.org/1999/xhtml">
    <script src="/javascripts/page.js"></script>
    <div class="container">
        <p></p>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="search">
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="button" value="查询" id="search-btn">
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="button" value="添加" data-toggle="modal" data-target="#edit">
            </div>
            <div class="form-group">
                <input class="btn btn-warning" type="button" value="导入" onclick="location.href='./fair_import'">
            </div>
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>名称</td>
                    <td>Logo</td>
                    <td>英文名</td>
                    <td>地点</td>
                    <td>时间</td>
                    <td>成立年份</td>
                    <td>展馆名称</td>
                    <td>分类</td>
                    <td>网址</td>
                    <td>状态</td>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="list"></tbody>
        </table>
        <div class="text-right">
            <nav>
                <ul class="pagination">
                </ul>
            </nav>
        </div>
        <div class="fair_sponsors"></div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="modalLabel">
                        添加
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="add-form" class="form-horizontal" role="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Logo</label>
                            <div class="col-sm-10">
                                <input type="file"  name="logofile" id="logofile"/>
                            </div>
                            <div id="previewdiv" class="col-xs-6 col-md-3 hide">
                                <a href="#" class="thumbnail">
                                    <img id="preview" src=""  alt="">
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control hide" id="_id">
                                <input type="text" class="form-control" id="chnName" placeholder="请输入名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">英文名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="engName" placeholder="请输入英文名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">地点</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="position" placeholder="请输入地点">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="time" class="col-sm-2 control-label">时间</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="time" placeholder="请输入时间">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">成立年份</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstYear" placeholder="请输入成立年份">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">展馆名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="hallName" placeholder="请输入展馆名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="category" placeholder="请输入分类">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">网址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="website" placeholder="请输入网址">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="save-btn">
                        保存
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

    <div class="modal fade" id="import" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        导入
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="import-form" class="form-horizontal" role="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文件（*.xlsx）</label>
                            <div class="col-sm-8">
                                <input type="file"  name="uploadfile" id="uploadfile"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="upload-btn">
                        上传
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    <div class="modal fade" style="width: auto" id="audit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        审核
                    </h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-danger" id="audit-success-btn">
                        通过
                    </button>
                    <button type="button" class="btn btn-primary" id="audit-fail-btn">
                        失败
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</html>
<script id="list-template" type="text/x-handlebars-template">
    {{#each data.list}}
    <tr id="{{_id}}">
        <td id="chnName{{_id}}">{{chnName}}</td>
        <td id="logo{{_id}}">
            {{#if logo}}
            <div class="col-xs-6 col-md-6">
                <a href="#" class="thumbnail">
                    <img src="/user_data/{{logo}}">
                </a>
            </div>
            {{/if}}
        </td>
        <td id="engName{{_id}}">{{engName}}</td>
        <td id="position{{_id}}">{{position}}</td>
        <td id="time{{_id}}">{{time}}</td>
        <td id="firstYear{{_id}}">{{firstYear}}</td>
        <td id="hallName{{_id}}">{{hallName}}</td>
        <!--<td id="sponsor{{_id}}">{{sponsor}}</td>
        <td id="undertaker{{_id}}">{{undertaker}}</td>-->
        <td id="category{{_id}}"><a title="{{categories}}">{{#slice categories}}{{/slice}}</a></td>
        <td id="website{{_id}}"><a href='{{website}}' title="{{website}}">{{#url_slice website}}{{/url_slice}}</a></td>
        <td id="status{{_id}}">
            {{#compare status 0}}
                未审核
            {{/compare}}
            {{#compare status 1}}
                审核通过
            {{/compare}}
            {{#compare status 2}}
                审核失败
            {{/compare}}
        </td>
        <td>
            <a onclick="sponsors('{{_id}}')" title="主办方/承办方管理"><span class="glyphicon glyphicon-user" data-toggle="modal" data-target="#sponsors-modal"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a onclick="ad('{{_id}}')" title="广告管理"><span class="glyphicon glyphicon-pencil"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a onclick="audit('{{_id}}')" title="审核"><span class="glyphicon glyphicon-stats" data-toggle="modal" data-target="#audit"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a onclick="edit('{{_id}}')" title="修改"><span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#edit"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a onclick="del('{{_id}}')" title="删除"><span class="glyphicon glyphicon-remove"/></a>
        </td>
    </tr>
    {{/each}}
</script>
<script>
    $(document).ready(function(){
        $(".fair_sponsors").load("/fair_sponsors");
        loadPage()
    });
    function loadPage(pageNo,search){
        if(pageNo){
            currPage=pageNo;
        }
        var param={
            page:pageNo,
            limit:10
        }
        if(search){
            param.search=search;
        }
        $.ajax({
            type : "GET",
            url : "/fair/find",
            data:param,
            success: function(data) {
                var obj = data;
                if(obj.status=="200"){
                    $('#list').handlebars($('#list-template'), obj);
                    page(obj.data.count,'loadPage')
                }else{
                    alert('加载失败。')
                }
            }
        });
    }
    function ad(id){
        location.href="/ad?fairId="+id;
    }
    function del(id){
        $.get("/fair/remove",{_id:id}, function(result){
            $('#'+id).remove()
        });
    }
    function edit(id){
        $('#modalLabel').html('更新')
        $('#_id').val(id);
        $('#chnName').val($('#chnName'+id).html());
        $('#engName').val($('#engName'+id).html());
        $('#position').val($('#position'+id).html());
        $('#time').val($('#time'+id).html());
        $('#firstYear').val($('#firstYear'+id).html());
        $('#hallName').val($('#hallName'+id).html());
        $('#category').val($('#category'+id).html());
        $('#website').val($('#website'+id).html());
    }
    $('#search-btn').on('click',function(){
        loadPage(1,$('#search').val())
    })
    $('#save-btn').on('click',function(){
        var id=$('#_id').val();
        var url='/fair/save';
        var param={
            chnName:$('#chnName').val(),
            engName:$('#engName').val(),
            position:$('#position').val(),
            time:$('#time').val(),
            firstYear:$('#firstYear').val(),
            hallName:$('#hallName').val(),
            category:$('#category').val(),
            website:$('#website').val()
        };
        if(id){
            url='/fair/update';
            param._id=id;
        }else{
            $('#modalLabel').html('添加')
        }
        var formdata = new FormData($("#add-form")[0]);
        for(var k in param){
            formdata.append(k, param[k]);
        }
        $.ajax({
            type:'POST',
            url: url,
            data:formdata,
            processData: false,
            contentType: false,
            success: function(data){
                alert("保存成功");
                $("#edit").modal("hide")
                loadPage(1)
            }
        })
    })
    $('#upload-btn').on('click',function(){
        var formdata = new FormData($("#import-form")[0]);
        $.ajax({
            type:'POST',
            url: '/fair/import',
            data:formdata,
            processData: false,
            contentType: false,
            success: function(data){
                alert("导入成功");
                $("#import").modal("hide")
                loadPage(1)
            }
        })
    })
    $('#edit').on('hide', function() {
        $('#modalLabel').html('添加')
        $('#_id').val('');
        $('#chnName').val('');
        $('#engName').val('');
        $('#position').val('');
        $('#time').val('');
        $('#firstYear').val('');
        $('#hallName').val('');
        $('#category').val('');
        $('#website').val('');
    });
    $('#logofile').on('change', function() {
        var f = document.getElementById("logofile").files[0];
        var src = window.URL.createObjectURL(f);
        $('#previewdiv').addClass('show')
        $('#preview').attr('src',src);
    });
    var audit_curr_fairId;
    function audit(id){
        audit_curr_fairId=id;
    }
    $('#audit').on('hide', function() {
        audit_curr_fairId=null;
    });
    $('#audit-success-btn').on('click', function() {
        $.get("/fair/audit",
                {
                    _id:audit_curr_fairId,
                    status: 1
                }, function(result){
                    $('#status'+audit_curr_fairId).html('审核通过')
                    $("#audit").modal("hide")
                });
    });
    $('#audit-fail-btn').on('click', function() {
        $.get("/fair/audit",
                {
                    _id:audit_curr_fairId,
                    status: 2
                }, function(result){
                    $('#status'+audit_curr_fairId).html('审核失败')
                    $("#audit").modal("hide")
                });
    });
</script>
